/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import '~@angular/material/theming';
@import 'custom_palettes.scss';

/* montserrat-regular - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url('assets/fonts/montserrat/montserrat-v12-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Montserrat Regular'), local('Montserrat-Regular'),
  url('assets/fonts/montserrat/montserrat-v12-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('assets/fonts/montserrat/montserrat-v12-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
  url('assets/fonts/montserrat/montserrat-v12-latin-regular.woff') format('woff'), /* Modern Browsers */
  url('assets/fonts/montserrat/montserrat-v12-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
  url('assets/fonts/montserrat/montserrat-v12-latin-regular.svg#Montserrat') format('svg'); /* Legacy iOS */
}

/* fallback */
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url('assets/fonts/material-icons.woff2') format('woff2');
}

$custom-typography: mat-typography-config(
  $font-family: 'Montserrat, Roboto'
);
@include mat-core($custom-typography);

$my-app-primary: mat-palette($md-mcgpalette0);
$my-app-accent: mat-palette($mat-pink, A200, A100, A400);
$my-app-theme: mat-light-theme($my-app-primary, $my-app-accent);

@include angular-material-theme($my-app-theme);

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

html, body { height: 100%; margin: 0; padding: 0;}
body { margin: 0; font-family: 'Montserrat', 'Roboto', sans-serif; background-color: #0d3267;}

.app-snackbar > .mat-simple-snackbar {
  justify-content: center;
}

.inner-container{
  padding: 40px;

  .mat-form-field {
    width: 100%;
  }

  .mat-radio-button{
    padding-right: 26px;
  }

  .flex-container{
    margin-bottom: 40px;
  }

  .float-right{
    float: right;
    margin-left: 10px;
  }

  .job-item {
    cursor: pointer;
  }

  .back-prefix {
    cursor: pointer;
    margin-top: 10px;
    transform: rotate(180deg);
  }

  .no-job{
    text-align: center;
  }

  .browse-tree-progress-bar {
    margin-left: 30px;
  }

  .link{
    color: blue;
    text-decoration: underline;
    cursor: pointer;
  }
}
