/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

/* fallback */
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url('assets/fonts/material-icons.woff2') format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

html, body { height: 100%; margin: 0; padding: 0;}
body { margin: 0; font-family: 'Roboto', sans-serif; }

.app-snackbar > .mat-simple-snackbar {
  justify-content: center;
}

.inner-container{
  padding: 40px;

  .mat-form-field {
    width: 100%;
  }

  .mat-radio-button{
    padding-right: 26px;
  }

  .flex-container{
    margin-bottom: 40px;
  }

  .float-right{
    float: right;
    margin-left: 10px;
  }

  .job-item {
    cursor: pointer;
  }

  .back-prefix {
    cursor: pointer;
    margin-top: 10px;
    transform: rotate(180deg);
  }

  .no-job{
    text-align: center;
  }

  .browse-tree-progress-bar {
    margin-left: 30px;
  }

  .link{
    color: blue;
    text-decoration: underline;
    cursor: pointer;
  }
}
